@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard';
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* 헤더 */
.icon {
    width: 1320px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.icon a {
    color: #666;
    font-size: 16px;
}

.icon a:hover {
    text-decoration: underline;
}

.icon img {
    filter: invert(0);
}

.icon img:hover {
    filter: invert(1);
}

.header {
    width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
}


.header ul {
    width: 1320px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.header ul a {
    font-size: 26px;
    font-weight: 700;
    transition: 0.7s;

}

.header ul a:hover {
    color: #266424;
}

/* 배너 */

.bn {
    width: 100%;
    margin-top: 20px;
}

/* 소개말 */
.about {
    width: 1320px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
}

.about h1 {
    font-size: 50px;
}

.about p {
    margin: 50px 0px 200px 0px;
}

/* 콘텐츠 */
.content {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 150px 0;
}

.text1 {
    margin-left: 220px;
    text-align: right;
}

.text1 h1 {
    font-size: 46px;
    margin-left: 15px;
}

.text2 h1 {
    font-size: 46px;
}

.text2 {
    margin-right: 100px;
}

/* 연락처 안내 */
.box1 {
    width: 1320px;
    margin: auto;
    font-size: 50px;
    margin-top: 200px;
}

.icon_box {
    width: 1320px;
    margin: auto;
    display: flex;
    gap: 0px 360px;
    position: relative;
    margin-top: 50px;
}

.icon_box ul {
    display: flex;
}

.icon_box ul li {
    font-size: 28px;
    font-weight: 700;
}

.tel{
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 50px;
}

.number {
    width: 1320px;
    margin: auto;
    display: flex;
    margin-bottom: 70px;
}

.number ul {
    display: flex;
    gap: 0px 150px;
    font-size: 24px;
    color: #666;
}

/* 지도 */

iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block; 
  }


/* 푸터 */
.footer{
    background-color: #d8cbb9;
    text-align: center;
}

.footer_in{
    display: flex;
    justify-content: center;
    gap: 25px;
padding-top: 40px;
    
}

.footer_in a{
    color: #40382E;
    font-size: 20px;
    font-weight: 600;

}

.footer_in a:hover{
    text-decoration: underline;
}

span{
    margin: 0 25px;
}

.footer p{
    margin: 40px 0px;
    font-size: 20px;
    color: #40382E;
}

.footer img{
    padding-bottom: 40px;
}

/* 탑버튼 */
.top_btn{
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 100;
}

/* 탑버튼 누르면 부드럽게 올라가기 */
html {
    scroll-behavior: smooth;
}

