@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard';
    font-size: 26px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* 헤더 */
.icon {
    width: 1320px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.icon a {
    color: #666;
    font-size: 16px;
}

.icon a:hover {
    text-decoration: underline;
}

.icon img {
    filter: invert(0);
}

.icon img:hover {
    filter: invert(1);
}

.header {
    width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
}


.header ul {
    width: 1320px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.header ul a {
    font-size: 26px;
    font-weight: 700;
    transition: 0.7s;

}

.header ul a:hover {
    color: #266424;
}

/*  배너 */
.bn {
    width: 100%;
    display: block;
    margin: 30px 0 100px;
}

/* 이벤트 안내 */
h2 {
    width: 1320px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

/* 이벤트 */

.event {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

h3{
    font-size: 26px;
}

.event p {
    font-weight: 500;
    color: #666;
    margin-bottom: 30px;
}

.p2 {
    font-weight: 400;
    font-size: 20px;
    color: #999;
}

.event img{
    transition: 1s;
}

.event a:hover img {
    transform: scale(1.1);
}

/* 푸터 */
.footer {
    background-color: #d8cbb9;
    text-align: center;
    margin-top: 200px;
}

.footer_in {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;

}

.footer_in a {
    color: #40382E;
    font-size: 20px;
    font-weight: 600;

}

.footer_in a:hover {
    text-decoration: underline;
}

span {
    margin: 0 25px;
}

.footer p {
    margin: 40px 0px;
    font-size: 20px;
    color: #40382E;
}

.footer img {
    padding-bottom: 40px;
}

/* 탑버튼 */
.top_btn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 100;
}

/* 탑버튼 누르면 부드럽게 올라가기 */
html {
    scroll-behavior: smooth;
}


